@charset "UTF-8";
/* CSS Document */
body{margin: 0px;padding: 0px;background:#ededed; font-family:"微软雅黑"; font-size:14px; overflow-x:hidden;}
em{ color:#F00;}
a{text-decoration: none;}
a.one {color: #333; background: transparent; text-decoration: none;}
a.one:hover, a:focus {color: #ff3e00 !important; text-decoration: none;}
a.one:active {background-color: transparent;}
ul,li,dl,dt,dd{list-style:none outside; margin:0; padding:0; border:0;}

a.two {color: #333; background: transparent; text-decoration: none;}
a.two:hover, a:focus {color: #ff0000 !important; text-decoration: none;}
a.two:active {background-color: transparent; color: #333;}

a.four {color: #fff; background: transparent; text-decoration: none;}
a.four:hover, a:focus {color: #fcff00 !important; text-decoration: none;}
a.four:active {background-color: transparent; color: #fff;}


.top{width:100%; height:347px; background-image:url(../images/top_bg.jpg); background-repeat:repeat-x;}
.top_center{ width:1200px; height:347px; margin:0 auto; background-image:url(../images/top.png);}
.banner{width:100%; height:50px; background-image:url(../images/banner_bg.png); background-repeat:repeat-x;}
.js{width:1200px; margin:0 auto; height:300px; margin-top:10px;}
.gssb{width:400px; height:300px; float:left; margin-right:10px;}
.gssb_top{width:378px; height:23px; background-image:url(../images/bg.png); background-repeat:repeat-x; border:1px solid #959595; font-size:14px;  padding-left:20px; color:#333; padding-top:8px;}
.gssb_down{width:378px; height:247px; border:1px solid #959595; border-top:0px; padding:10px; background-color:#FFF;}
.gsjs{width:790px; height:300px; float:left;}
.gsjs_top{width:768px; height:23px; background-image:url(../images/bg.png); background-repeat:repeat-x; border:1px solid #959595; font-size:14px;  padding-left:20px; color:#333; padding-top:8px;}
.gsjs_down{width:768px; height:247px; border:1px solid #959595; border-top:0px; padding:10px; background-color:#FFF; text-indent:2em; color:#333; font-size:14px; line-height:30px;}
.cp{width:1200px; height:220px; margin:10px auto 0 auto; background-color:#FFF;}
.cp_top{width:1178px; height:23px; background-image:url(../images/bg.png); background-repeat:repeat-x; border:1px solid #959595; font-size:14px;  padding-left:20px; color:#333; padding-top:8px; margin-bottom:10px;}
.cp_down{width:1178px; height:167px; border:1px solid #959595; border-top:0px; padding:10px; background-color:#FFF; text-indent:2em; color:#333; font-size:14px; line-height:30px;}
.three{width:1200px; margin:0 auto; height:400px; margin-top:10px; }
.three_left{ width:593px; height:357px; float:left; margin-right:10px; border:1px solid #959595; background-color:#FFF;}
.three_right{ width:593px; height:357px; float:right; border:1px solid #959595;  background-color:#FFF;}






.bottom{ width:100%; height:83px; background-image:url(../images/bottom_bg.jpg); background-repeat:repeat-x; margin-top:10px; line-height:30px; color:#FFF; font-size:14px; text-align:center; padding-top:20px;}
.gsry{width:400px; height:300px; float:left; margin-right:10px; background-color:#FFF;}
.gsry_top{width:378px; height:23px; background-image:url(../images/bg.png); background-repeat:repeat-x; border:1px solid #959595; font-size:14px;  padding-left:20px; color:#333; padding-top:8px;}
.gsry_down{width:378px; height:247px; border:1px solid #959595; border-top:0px; padding:10px; background-color:#FFF;}
.xz{width:380px; height:300px; float:left; margin-right:10px; background-color:#FFF;}
.xz_top{width:358px; height:23px; background-image:url(../images/bg.png); background-repeat:repeat-x; border:1px solid #959595; font-size:14px;  padding-left:20px; color:#333; padding-top:8px;}
.xz_down{width:338px; height:227px; border:1px solid #959595; border-top:0px; padding:20px; background-color:#FFF; font-size:16px; line-height:40px; color:#333;}
.ly{width:400px; height:300px; float:left;  background-color:#FFF;}
.ly_top{width:378px; height:23px; background-image:url(../images/bg.png); background-repeat:repeat-x; border:1px solid #959595; font-size:14px;  padding-left:20px; color:#333; padding-top:8px;}
.ly_down{width:378px; height:247px; border:1px solid #959595; border-top:0px; padding:10px; background-color:#FFF;}
.top_search{float:right; text-align:right; border:1px solid #fff;  border-radius:20px; padding:5px; margin:10px 10px 0px 10px; color:#d4eaff;}
.top_search input{ border:none 0; background:none; color:#d4eaff; width:180px; font-size:14px;}
.top_search a{ color:#d4eaff;}
.top_search a:hover{ color:#6FF;} 
.top_menu{ float:right; text-align:right; margin-top:7px; color:#FFF;}
.top_menu a{ border-radius:10px; padding:5px; margin:6px 3px;  display:inline-block; text-align:center; color:#d4eaff; font-size:14px; }
.top_menu a i{ font-size:2em; margin-bottom:5px;}
.top_menu a:hover{ background:#19b9f5; color:#fff;}
/*-----表单样式----*/
.xllb{ border:1px #ccc solid; height:25px; line-height:25px; font-size:14px; width:230px; color:#333;}
.lyxx{ color:#333; font-size:14px; height:35px; margin-top:10px; width:100%;}
.lyxx2{ color:#333; font-size:14px; height:35px; margin-top:10px; width:100%; height:80px;}
.lyxx_wz{ color:#333; font-size:14px; height:20px; margin-top:15px; width:100px; float:left; text-align:right;}
.lyxx_bd{ color:#333; font-size:14px; height:27px; margin-top:8px; width:230px; float:left;}
/*--------小按钮-------*/
.btn_all2{ border-radius:5px; display:inline-block;  padding:5px 10px 25px 10px;text-align:center; color:#fff; font-size:14px; width:150px; height:15px;}
.btn_all2:hover{ color:#FFF;}
.btn_all{ border-radius:5px; display:inline-block;  padding:10px 10px 12px 10px;text-align:center; color:#fff; font-size:14px; width:150px; height:15px;}
.btn_all:hover{ color:#FFF;}
.b_hong{background:#ff7300;}
.b_hong:hover{ background:#d76202;}

.b_lan{background:#3baeda;}
.b_lan:hover{ background:#4fc0e8;}

.b_lan2{background:#4b89dc;}
.b_lan2:hover{ background:#5e9ded;}

.b_lv{background:#8cc051;}
.b_lv:hover{ background:#a0d468;}

.b_lv2{background:#36bc9b;}
.b_lv2:hover{ background:#48cfae;}

.b_hei{background:#434a54;}
.b_hei:hover{ background:#656d78;}

.b_zi{background:#967bdc;}
.b_zi:hover{ background:#ac92ed;}

.b_huang{background:#f6bb43;}
.b_huang:hover{ background:#fdcf53;}

.b_fen{background:#d870ad;}
.b_fen:hover{ background:#ec87bf;}

.b_hui{background:#aab2bd;}
.b_hui:hover{ background:#ccd0d9;}

.b_hui2{background:#e6e9ee; color:#333;}
.b_hui2:hover{ background:#f6f7fb; color:#333;}
.kj{width:1225px; margin:0 auto;background-image:url(../images/kj_bg.jpg); background-repeat:repeat-y; height:700px;}
.kj2{width:1200px;margin:0 auto;height:700px;}
.kj_left{width:280px; float:left; height:700px;}
.kj_right{width:900px; float:left; height:700px;}
.kj_dh{width:900px; height:35px; color:#333; font-size:14px; padding-top:15px;}
.kj_wz{ width:830px; height:580px;border:1px solid #d6d6d6; padding:30px; color:#333; font-size:14px; line-height:35px; text-indent:2em;}
.kj_bt{ font-size:18px; color:#333; padding-top:0px; width:250px; height:30px; margin-top:10px; margin-left:20px; padding-top:10px;}
.kj_bk{border:1px solid #d6d6d6; padding:30px; color:#333; font-size:14px; line-height:35px; text-indent:2em;}
.kj_l{width:226px; height:26px; background-image:url(../images/kj_l.jpg); background-repeat:no-repeat; color:#FFF; font-size:14px; padding-left:35px; padding-top:13px; margin-left:15px;}
.kj_h{width:226px; height:26px; background-image:url(../images/kj_h.jpg); background-repeat:no-repeat; color:#333; font-size:14px; padding-left:35px; padding-top:13px; margin-left:15px;}
.jsbk{width:830px; padding:20px; border:1px solid #d6d6d6;color:#333; font-size:14px; line-height:35px; text-indent:2em; margin:20px 0 20px 0;}

.akj{width:1225px; margin:0 auto;background-image:url(../images/kj_bg.jpg); background-repeat:repeat-y; height:2200px;}
.akj2{width:1200px;margin:0 auto;height:2200px;}
.akj_left{width:280px; float:left; height:2200px;}
.akj_right{width:900px; float:right; height:2200px;}
.akj_dh{width:900px; height:35px; color:#333; font-size:14px; padding-top:15px;}
.akj_wz{ width:800px; height:2125px;border:1px solid #d6d6d6; color:#333; font-size:14px; line-height:35px; text-indent:2em; background-image:url(../images/bg.png); background-repeat:repeat-x; background-position:top; padding-left:30px;}

.big_lyxx{ color:#333; font-size:14px; height:60px; margin-top:10px; width:100%;}
.big_lyxx2{ color:#333; font-size:14px; height:35px; margin-top:10px; width:100%; height:120px;}
.big_lyxx_wz{ color:#333; font-size:14px; height:40px; margin-top:15px; width:150px; float:left; text-align:right;}
.big_lyxx_bd{ color:#333; font-size:14px; height:37px; margin-top:18px; width:530px; float:left;}
.big_xllb{ border:1px #ccc solid; height:25px; line-height:25px; font-size:14px; width:230px; color:#333;}
.cpwz{ color:#F60; font-weight:bold;}
.jszc_b{ border-bottom:1px dotted #d6d6d6;}
